propUpdateFromDb/.idea
propUpdateFromDb/__pycache__
auth_json
file_server/.idea
travel_integration/.idea
travel_integration/__pycache__
travel_integration/lib-1-med/__pycache__
.idea
travel_integration/lib/__pycache__
